<a href="https://colab.research.google.com/github/ffayzullaev/Data_Science_MohirDev/blob/main/_3_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ma'lumotlar tahlili

Pandas kutubxonasi

Foydali funksiyalar

In [2]:
import pandas as pd
import numpy as np

In [3]:
data={'Yil':[2021,2020,2019,2018,2017,2016,2015,2010],
      'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
      'Temp':[1.54,1.48,1.56,1.62,1.65,1.66,1.64,1.53],
      'Zichlik':[79.77,78.68,77.53,76.64,75.13,72.17,56.23,59.56]}
df=pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.64
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    72.17
6  2015        30.9  1.64    56.23
7  2010        28.5  1.53    59.56

In [5]:
df.index=[21,20,19,18,17,16,15,10]
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.64
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    72.17
15  2015        30.9  1.64    56.23
10  2010        28.5  1.53    59.56

In [6]:
#Reindex
ind=[21,20,19,18,17,16,15,10]
ind.sort()
ind

[10, 15, 16, 17, 18, 19, 20, 21]

In [8]:
df=df.reindex(ind)

In [9]:
df

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    59.56
15  2015        30.9  1.64    56.23
16  2016        31.4  1.66    72.17
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.64
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [13]:
df.reindex(index=range(10,22), method='ffill')

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    59.56
11  2010        28.5  1.53    59.56
12  2010        28.5  1.53    59.56
13  2010        28.5  1.53    59.56
14  2010        28.5  1.53    59.56
15  2015        30.9  1.64    56.23
16  2016        31.4  1.66    72.17
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.64
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [14]:
df

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    59.56
15  2015        30.9  1.64    56.23
16  2016        31.4  1.66    72.17
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.64
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [16]:
df2=df.reindex(columns=['Aholi soni', 'Temp', 'Zichlik'])

In [22]:
df2.sample(3)

    Aholi soni  Temp  Zichlik
15        30.9  1.64    56.23
19        32.9  1.56    77.53
10        28.5  1.53    59.56

In [24]:
df.loc[[10,15, 18, 20], ['Aholi soni', 'Temp', 'Zichlik']]

    Aholi soni  Temp  Zichlik
10        28.5  1.53    59.56
15        30.9  1.64    56.23
18        32.5  1.62    76.64
20        33.5  1.48    78.68

In [25]:
df2=df.drop(10)
df2

     Yil  Aholi soni  Temp  Zichlik
15  2015        30.9  1.64    56.23
16  2016        31.4  1.66    72.17
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.64
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [26]:
df

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    59.56
15  2015        30.9  1.64    56.23
16  2016        31.4  1.66    72.17
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.64
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [27]:
df.drop([15,20])

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    59.56
16  2016        31.4  1.66    72.17
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.64
19  2019        32.9  1.56    77.53
21  2021        33.9  1.54    79.77

In [31]:
df=df.drop('Yil', axis='columns')

In [32]:
df

    Aholi soni  Temp  Zichlik
10        28.5  1.53    59.56
15        30.9  1.64    56.23
16        31.4  1.66    72.17
17        31.9  1.65    75.13
18        32.5  1.62    76.64
19        32.9  1.56    77.53
20        33.5  1.48    78.68
21        33.9  1.54    79.77

In [36]:
df.drop('Temp', axis='columns', inplace=True)

In [37]:
df

    Aholi soni  Zichlik
10        28.5    59.56
15        30.9    56.23
16        31.4    72.17
17        31.9    75.13
18        32.5    76.64
19        32.9    77.53
20        33.5    78.68
21        33.9    79.77

In [38]:
df.drop([10,15,20], inplace=True)

In [39]:
df

    Aholi soni  Zichlik
16        31.4    72.17
17        31.9    75.13
18        32.5    76.64
19        32.9    77.53
21        33.9    79.77